
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-section {
    background: #f8f9fa;
    padding: 100px 0;
}

.feature-icon {
    font-size: 2.5rem;
    color: #0d6efd;
}

footer {
    background: #212529;
    color: white;
    padding: 40px 0;
}

.container {
    margin-bottom: 20px;
}

#features .p-3 {
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background-color: #f8f9fa;
}


#features .p-3:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    cursor: pointer;
}

.about-image {
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
}

.social-link {
    font-size: 1.5rem;
    color: #333;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-link:hover {
    color: #0d6efd;
}

.hero-mini {
    background-color: #f8f9fa;
    padding: 60px 0;
}